# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

/android/
/ios/

/modules/yoti-doc-scan-expo/android/build/
/modules/yoti-doc-scan-expo/ios/build/

.gradle/
.idea/
modules/yoti-doc-scan-expo/android/local.properties

*.pem
coverage/
.cursorrules
.vscode/